@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-light text-dark font-sans;
  }
  
  ::selection {
    @apply bg-primary-200 text-primary-900;
  }
}

/* Prevent white space at bottom */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}